In [1]:
import pandas as pd

In [28]:
input=pd.read_csv('input_day2_prd.txt', sep=' ', names=['direction', 'units'])
input

    direction  units
0     forward      9
1        down      8
2        down      2
3        down      4
4          up      8
..        ...    ...
995      down      2
996      down      3
997   forward      8
998      down      5
999   forward      6

[1000 rows x 2 columns]

In [29]:
moves=input.groupby('direction').sum()
moves

           units
direction
down        2018
forward     1968
up           955

In [33]:
depth=moves.xs('down')-moves.xs('up')
x=moves.xs('forward')
{'x': x, 'depth': depth}

{'x': units    1968
 Name: forward, dtype: int64,
 'depth': units    1063
 dtype: int64}

In [34]:
x*depth

units    2091984
dtype: int64

In [35]:
#Part 2

In [50]:
input=pd.read_csv('input_day2_prd.txt', sep=' ', names=['direction', 'units'])
input

    direction  units
0     forward      9
1        down      8
2        down      2
3        down      4
4          up      8
..        ...    ...
995      down      2
996      down      3
997   forward      8
998      down      5
999   forward      6

[1000 rows x 2 columns]

In [51]:
aim=0
x=0
depth=0
for i, r in input.iterrows():
    match [r['direction']]:
        case ['up'] as d:
            aim-=r['units']
#            print(i, d, [aim, x, depth])
        case ['down'] as d:
            aim+=r['units']
#            print(i, d, [aim, x, depth])
        case ['forward'] as d:
            x+=r['units']
            depth+=r['units']*aim
#            print(i, d, [aim, x, depth])


[aim, x, depth]

[1063, 1968, 1060092]

In [52]:
x*depth

2086261056